
.mynav{

    background-color: #c8f1eb;
    
}


.img-logo{

    width: 100px;
    height: 50px;
    border: 2px solid black;
}

.navbar-nav li{

    margin: 0 25px;
}

.navbar-nav li a:hover{

    border: 2px solid black;
    display: inline-block;
}



/*.navbar-brand{

    color: #06332b!important;
}

.navbar-nav li a{

    color: #06332b!important;
}*/