
.jumbo-text{

    font-size: 15vh;
 
    background-image: url("/public/images/j5.jpg");
    background-repeat: no-repeat;   
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-size: cover;
    margin-top: 6rem;
    
   
}

.myicon{

    position: relative;
    top: 300px;
}